header{
    text-align: center;
    background-image: url("../img/fondo4.jpg");
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    
}
header h1{
    font-size: 4em;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 2px #484848;
}
main{
    padding-right: 10rem;
    padding-left: 10rem;
}
main h1{
    font-size: 50px;
    text-align: center;
}
.logo img{

    width: 10%;
}
nav {

    background-color: #ae5a8f;
    display: flex;
    justify-content: center; 
    padding: 14px 0; 
}

.nav-button {
    margin: 0 1;
}

.nav-button a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    font-size: 30px;
}

.nav-button a:hover {
    background-color: #e7adef;
    color: black;
}
section{
    background-color: #ececec;
    padding: 18px;
}
section h2{
    text-align: center;
}
.contenedor{
    display: flex;
    align-items: center;
}
.contenedor img{
    margin-right: 20px;
    margin-left: 20px;
}
.contenedor video{
    margin-right: 20px;
    margin-left: 20px;
}
.imagen{
    width: 290;
    height: 290;
}
.contenedor-texto{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}
.container:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
h1 {
    font-size: 2em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 2px #ccc;
}
p {
    font-size: 1.2em;
    color: #666;
    line-height: 1.8;
}